name = "filbeam-payment-settler"
main = "bin/payment-settler.js"
compatibility_date = "2024-12-05"
compatibility_flags = ["nodejs_compat"]
logpush = true

[observability]
enabled = true
head_sampling_rate = 1

[[d1_databases]]
binding = "DB"
database_name = "test-db"
database_id = "8cc92155-16f6-426a-b782-2965e0daf100"

[env.dev.vars]
ENVIRONMENT = "dev"
RPC_URL = "https://api.calibration.node.glif.io/"
FILBEAM_CONTRACT_ADDRESS = "0x0000000000000000000000000000000000000000"
DEFAULT_LOCKUP_PERIOD_DAYS = 30 # 30 days lockup period
FILECOIN_GENESIS_BLOCK_TIMESTAMP_MS = 1667326380000 # Calibration network genesis timestamp in milliseconds

[[env.dev.d1_databases]]
binding = "DB"
database_name = "dev-db"
database_id = "8cc92155-16f6-426a-b782-2965e0daf101"

[[env.dev.queues.producers]]
queue = "payment-settler-transaction-queue-dev"
binding = "TRANSACTION_QUEUE"

[[env.dev.queues.consumers]]
queue = "payment-settler-transaction-queue-dev"
max_concurrency = 1
max_retries = 3

[[env.dev.workflows]]
binding = "TRANSACTION_MONITOR_WORKFLOW"
name = "payment-settler-transaction-monitor-workflow-dev"
class_name = "TransactionMonitorWorkflow"

[env.calibration.vars]
ENVIRONMENT = "calibration"
RPC_URL = "https://api.calibration.node.glif.io/"
FILBEAM_CONTRACT_ADDRESS = "0xeA6631B25BA4c9c9e285DA25a03AA96ACc921530"
DEFAULT_LOCKUP_PERIOD_DAYS = 30 # 30 days lockup period
FILECOIN_GENESIS_BLOCK_TIMESTAMP_MS = 1667326380000 # Calibration network genesis timestamp in milliseconds
FILBEAM_CONTROLLER_PRIVATE_KEY = "0xabc"

[[env.calibration.d1_databases]]
binding = "DB"
database_name = "filcdn-calibration-db"
database_id = "78f15bbb-391f-4797-9016-a6cb86c0b9b8"

[[env.calibration.queues.producers]]
queue = "payment-settler-transaction-queue-calibration"
binding = "TRANSACTION_QUEUE"

[[env.calibration.queues.consumers]]
queue = "payment-settler-transaction-queue-calibration"
max_concurrency = 1
max_retries = 3

[[env.calibration.workflows]]
binding = "TRANSACTION_MONITOR_WORKFLOW"
name = "payment-settler-transaction-monitor-workflow-calibration"
class_name = "TransactionMonitorWorkflow"

# TODO: Enable once FilBeam contract has been deployed
# [env.calibration.triggers]
# crons = ["*/1 * * * *"]  # Run every minute

[env.mainnet.vars]
ENVIRONMENT = "mainnet"
RPC_URL = "https://api.node.glif.io/"
FILBEAM_CONTRACT_ADDRESS = "0xeA6631B25BA4c9c9e285DA25a03AA96ACc921530"
DEFAULT_LOCKUP_PERIOD_DAYS = 30 # 30 days lockup period
FILECOIN_GENESIS_BLOCK_TIMESTAMP_MS = 1598306400000 # Mainnet genesis timestamp in milliseconds

[[env.mainnet.d1_databases]]
binding = "DB"
database_name = "filcdn-mainnet-db"
database_id = "e8de6418-2cb7-4413-9ba0-a9c8aacf9a66"

[[env.mainnet.queues.producers]]
queue = "payment-settler-transaction-queue-mainnet"
binding = "TRANSACTION_QUEUE"

[[env.mainnet.queues.consumers]]
queue = "payment-settler-transaction-queue-mainnet"
max_concurrency = 1
max_retries = 3

[[env.mainnet.workflows]]
binding = "TRANSACTION_MONITOR_WORKFLOW"
name = "payment-settler-transaction-monitor-workflow-mainnet"
class_name = "TransactionMonitorWorkflow"

# TODO: Enable once FilBeam contract has been deployed
# [env.mainnet.triggers]
# crons = ["*/1 * * * *"]  # Run every minute
